<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="css\style.css">

</head>
<body>
<div class="content">
    <div class="form sign-in">
        <h2>谢谢你的注册!</h2>
        <label>
            <span>昵称</span>
            <input type="text"  id="name" name="name"/>
        </label>
        <label>
            <span>密码</span>
            <input type="password" id="pass" name="pass"/>
        </label>
        <label>
            <span>相遇的天数</span>
            <input type="number" id="days" name="days"/>
        </label>

        <button type="button" class="submit" onclick="register()" >注册</button>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--in">
                <h2>已有帐号？</h2>
                <p>有帐号就登录吧，好久不见了！</p>
            </div>
        </div>
        <div class="form sign-up">
            <h2><a href="register.html">立即登录</a></h2>
        </div>
    </div>
</div>

</div>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" >
    function register(){

        var user={};
        // var name=document.getElementById("name").value
        // alert(name)
        user["name"]=$("#name").val();
        user["pass"]=$("#pass").val();
        user["days"]=$("#days").val();
        console.info(user)
        $.ajax({
            type:"POST",
            url: "http://localhost:8080/user/register",
            async:false,//同步：意思是当有返回值以后才会进行后面的js程序。
            dataType:'json',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify(user),
            success:function(msg){
                console.info(msg)
                if (msg.code==9527) {//根据返回值进行跳转
                    alert("")
                    window.location.href = 'http://localhost:8080/secret';
                }else if(msg.code=555){
                    alert(msg.message)
                }
            }
        });
    }
</script>


</body>
</html>